@{
    ViewData["Title"] = "Update Note";
}

@{
    Note note = (Note) ViewData["note"];
    <div class="updatenotecontainer">
        <form action="/notes/SaveUpdatedNote">
            <div class="parent">
                <a href="/notes/allnotes"><button>Back</button></a>
                <div class="header">
                    <input type="text" name="Title" id="" value="@note.Title">
                    <h6>Date: @note.Date</h6>
                </div>
                <div class="body">
                    <textarea name="Description" id="" cols="30" rows="10">@note.Description</textarea>
                </div>
                <div class="footer">
                    <a href=""><input type="submit" value="Update"></a>
                    <a href="/notes/deletenote/@note.Noteid"><button>Delete</button></a>
                </div>
            </div>
        </form>
    </div>
}