@{
    ViewData["Title"] = "Login Page";
}

<div>
    <form action="/auth/validate">
        <input type="text" name="username" id="" placeholder="Username">
        <input type="password" name="password" id="" placeholder="Password">
        <input type="submit" value="Login">
    </form>
</div>