@{
    ViewData["Title"] = "Register Page";
}

<div>
    <form action="/auth/saveuser">
        <input type="text" name="name" id="" placeholder="Name">
        <input type="text" name="username" id="" placeholder="Username">
        <input type="password" name="password" id="" placeholder="Password">
        <input type="submit" value="Register">
    </form>
</div>