@using KeepNotesWebApp.Models;
@{
    ViewData["Title"] = "All Notes";
}

<div class="allNotesContainer">
    <div class="parent">
        <div class="header">
            <a href="/notes/addnote"><button>Add New Note</button></a>
        </div>
        <div class="body">
            <table>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Date</td>
                    <td>ViewNote</td>
                    <td>DeleteNote</td>
                </tr>
                @{
                    List<Note> notes = (List<Note>) ViewData["noteslist"];
                    @foreach (Note note in notes)
                    {
                        <tr>
                            <td>@note.Noteid</td>
                            <td>@note.Title</td>
                            <td>@note.Date</td>
                            <td><a href="/Notes/UpdateNote/@note.Noteid">View</a></td>
                            <td><a href="/Notes/UpdateNote/@note.Noteid">Delete</a></td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>