@{
    ViewData["Title"] = "Update Note";
}

<form action="">
    <input type="text" name="title" id="" placeholder="Title">
    <textarea name="description" id="" cols="30" rows="10" placeholder="Add a description for your note ..."></textarea>
</form>