@{
    ViewData["Title"] = "Home Page";
}

@{
    string name = (string) ViewData["currentUser"];
    @if ( name == "")
    {
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
        </div>
    }
    else
    {
        <div>
            <h1>@name</h1>
        </div>
    }
}